{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container mt-3 details-container">
    <div class="row p-3" style="color: var(--primary-color);">
        <div class="col-12">
            <h1 class="page-header">Reports Dashboard</h1>
        </div><hr>
        <div class="fieldsBlock row" style="color: black;">
            <div class="col-md-4">
              <span class="detail-header">Select Transaction Type</span>
                <div class="d-flex gap-3 align-items-center mt-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="transactionType" id="all" value="all" checked>
                      <label class="form-check-label" for="all">All</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="transactionType" id="income" value="income">
                      <label class="form-check-label" for="income">Income</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="transactionType" id="expense" value="expense">
                      <label class="form-check-label" for="expense">Expense</label>
                    </div>
                  </div>
                  
            </div>
            <div class="col-md-4">
              <span class="detail-header">Select Transaction Date Range</span>
                <div class="d-flex gap-3 align-items-center mt-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="filter" id="thisMonth" value="thisMonth" checked>
                      <label class="form-check-label" for="thisMonth">This Month</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="filter" id="byDate" value="byDate">
                      <label class="form-check-label" for="byDate">By Date</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="filter" id="byMonth" value="byMonth">
                      <label class="form-check-label" for="byMonth">By Month</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="filter" id="byYear" value="byYear">
                      <label class="form-check-label" for="byYear">By Year</label>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
              <span class="detail-header">PayLater</span>
              <div class="d-flex gap-3 align-items-center mt-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="payLater" id="all-payLater" value="All" checked>
                  <label class="form-check-label" for="all-payLater">All</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="payLater" id="paid" value="paid">
                  <label class="form-check-label" for="paid">Paid</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="payLater" id="notPaid" value="notPaid">
                  <label class="form-check-label" for="notpaid">Not Paid</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <span class="detail-header">Categories</span>
              <div class="d-flex gap-3 align-items-center mt-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="cat" id="allCategories" value="All" checked>
                  <label class="form-check-label" for="allCategories">All</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="cat" id="specificCategories" value="Specific">
                  <label class="form-check-label" for="specificCategories">Specific</label>
                </div>
              </div>
              <div class="col-9 d-flex gap-3 align-items-center mt-3 option-div">
                <div class="row g-3">
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">Mode1</label>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkChecked1" checked>
                    <label class="form-check-label" for="checkChecked1">Mode2</label>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkChecked2" checked>
                    <label class="form-check-label" for="checkChecked2">Mode3</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <span class="detail-header">Sub-Categories</span>
              <div class="d-flex gap-3 align-items-center mt-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sub-cat" id="all-subCat" value="All" checked>
                  <label class="form-check-label" for="all-subCat">All</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sub-cat" id="specific-subCat" value="Specific">
                  <label class="form-check-label" for="specific-subCat">Specific</label>
                </div>
              </div>
              <div class="col-9 d-flex gap-3 align-items-center mt-3 option-div">
                <div class="row g-3">
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">Mode1</label>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkChecked1" checked>
                    <label class="form-check-label" for="checkChecked1">Mode2</label>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkChecked2" checked>
                    <label class="form-check-label" for="checkChecked2">Mode3</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <span class="detail-header">Payment Methods</span>
              <div class="d-flex gap-3 align-items-center mt-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="paymode" id="all-Paymode" value="All" checked>
                  <label class="form-check-label" for="all-Paymode">All</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="paymode" id="specific-Paymode" value="Specific">
                  <label class="form-check-label" for="specific-Paymode">Specific</label>
                </div>
              </div>
              <div class="col-9 d-flex gap-3 align-items-center mt-3 option-div">
                <div class="row g-3">
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">Mode1</label>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkChecked1" checked>
                    <label class="form-check-label" for="checkChecked1">Mode2</label>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="checkChecked2" checked>
                    <label class="form-check-label" for="checkChecked2">Mode3</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <span class="detail-header">Refunds</span>
              <div class="d-flex gap-3 align-items-center mt-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="refund" id="all-refunds" value="All" checked>
                  <label class="form-check-label" for="all-refunds">All</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="refund" id="pending-refunds" value="Pending">
                  <label class="form-check-label" for="pending-refunds">Pending</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="refund" id="completed-refunds" value="Completed">
                  <label class="form-check-label" for="completed-refunds">Completed</label>
                </div>
              </div>
            </div>
            <span class="mt-3"> <b>Note:</b> Report will be downloaded in PDF format.</span>
            <button class="btn primary-btn w-auto m-auto"><i class="bi bi-download me-2"></i>Download Report</button>
            
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    console.log('Dashboard scripts added')
</script>
{% endblock %}