{% extends 'base.html' %}

{% block title %}Transaction Details{% endblock %}

{% block content %}

<style>
    .mainHeader{
        font-size:20px;
        font-weight: 600;
        color: black;
    }
    .details-container{
        border: 1px solid var(--primary-color);
        background-color: white;
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <a class="" href="{% url 'transactionDashboard' %}"><i class="bi bi-arrow-left"></i> Transaction Details</a>
        </div>
    </div>
</div>
<div class="container details-container mt-3 p-4">
    <div class="row mb-3">
        <h2  class="mainHeader">Transaction Details</h2>
        <div class="col-md-6">
            <span>Transaction ID : {{ transaction.txnid }}</span>
        </div>
        <div class="col-md-6">
            <span>Transaction Name : {{ transaction.name }}</span>
        </div>
        <div class="col-md-6">
            <span>Transaction Amount : {{ transaction.amount }}</span>
        </div>
        <div class="col-md-6">
            <span>Transaction Type : {{ transaction.type|title }}</span>
        </div>
        <div class="col-md-6">
            <span>Category : {{ transaction.category.category_name }}</span>
        </div>
        <div class="col-md-6">
            <span>Sub Category : {{ transaction.subcategory.subcategory_name }}</span>
        </div>
        <div class="col-md-6">
            <span>Payment Method : {{ transaction.payment_method.payment_method_name }}</span>
        </div>
        <div class="col-md-6">
            <span>Expense Type : {{ transaction.expense_type|title }}</span>
        </div>
        <div class="col-md-6">
            <span>Transaction Date : {{ transaction.txn_date }}</span>
        </div>
        <div class="col-md-6">
            <span>Transaction Notes : {{ transaction.notes }}</span>
        </div>
    </div>
    {% if refund_details %}
        <div class="row mb-3">
            <h2  class="mainHeader">Refund Details</h2>
            <div class="col-md-6">
                <span>Refund ID : {{ refund_details.refundid }}</span>
            </div>
            <div class="col-md-6">
                <span>Refund Title : {{ refund_details.title }}</span>
            </div>
            <div class="col-md-6">
                <span>Refund Mode : {{ refund_details.mode }}</span>
            </div>
            <div class="col-md-6">
                <span>Refund Amount : {{ refund_details.amount }}</span>
            </div>
            <div class="col-md-6">
                <span>Refund Date : {{ refund_details.refund_date }}</span>
            </div>
            <div class="col-md-6">
                <span>Refunded : {{ refund_details.refunded }}</span>
            </div>
        </div>
    {% endif %}
    {% if paylater_details %}
        <div class="row mb-3">
            <h2  class="mainHeader">Pay Later Details</h2>
            <div class="col-md-6">
                <span>PayLater ID : {{ paylater_details.paylaterid }}</span>
            </div>
            <div class="col-md-6">
                <span>PayLater Title : {{ paylater_details.title }}</span>
            </div>
            <div class="col-md-6">
                <span>PayLater Due Date : {{ paylater_details.due_date }}</span>
            </div>
            <div class="col-md-6">
                <span>PayLater Paid : {{ paylater_details.paid }}</span>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
