{% extends 'base.html' %}

{% block title %}Transaction Dashboard{% endblock %}

{% block extra_css %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h3>Transaction dashboard</h3>
        </div>
        <div class="col-6">
            <a href="{% url 'addTransaction' %}">+ add new transaction</a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    console.log('Dashboard scripts added')
</script>
{% endblock %}