{% extends 'base.html' %}

{% block title %}Transaction Dashboard{% endblock %}

{% block extra_css %}
<style>
    .summary-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .summary-table th, 
    .summary-table td {
        padding: 12px 20px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .summary-table th {
        background-color: #f8f9fa;
        font-size: 20px;
    }

    .summary-table td {
        font-size: 18px;
    }
    .dashboardSec1 {
        text-align: center;
        padding-top: 40px;
        height: 250px;
    }
    .dashboardSec2 {
        padding: 8px;
        margin-top: -100px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row dashboardSec1 bg-success " style="color: white;">
        <div class="col-12">
            <h3>Welcome to Transactions Dashboard</h3>
            <p>Track Your Refunds and Stay Informed</p>
        </div>
    </div>
</div>
<div class="container mt-4 dashboardSec2">   
    <div class="row mt-4 mb-4">
        
        <div class="col-6 mb-2">
            <h3>Transaction Dashboard</h3>
        </div> 
        <div class="col-6 mx-auto">
            <a href="{% url 'addTransaction' %}" class="btn btn-primary ms-auto">+ Add New Transaction</a>
        </div>
        <div class="col-12">
            <table class="summary-table">
                <thead>
                    <tr>
                        <th>Total Income</th>
                        <th>Total Expense</th>
                        <th>Total Refund</th>
                        <th>Total Paylater</th>
                        <th>Avaliable Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="text-success fw-bold">{{ incomeAmt }}</span></td>
                        <td><span class="text-danger fw-bold">{{ expenseAmt }}</span></td>
                        <td><span class="text-info fw-bold">{{ refundAmt }}</span></td>
                        <td><span class="text-warning fw-bold">{{ paylaterAmt }}</span></td>
                        <td class="text-bg-success"><span class="fw-bold">{{ balanceAmt }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <h2 class="mb-3">All Transactions</h2>
        <table border="1" class="table table-striped mb-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Payment Method</th>
                    <th>Expense Type</th>
                    <th>Notes</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for txn in transactions %}
                    <tr class="{% if txn.type == 'income' %}table-success{% elif txn.type == 'expense' %}table-danger{% endif %}">
                        <td>{{ txn.name }}</td>
                        <td>{{ txn.amount }}</td>
                        <td>{{ txn.type|title }}</td>
                        <td>
                            {% if txn.category %}
                                {{ txn.category.category_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if txn.subcategory %}
                                {{ txn.subcategory.subcategory_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if txn.payment_method %}
                                {{ txn.payment_method.payment_method_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {{ txn.expense_type|title }}
                            {% if txn.expense_type == 'refund' %}
                                [Refund]
                            {% elif txn.expense_type == 'paylater' %}
                                [Pay Later]
                            {% endif %}
                        </td>
                        <td>{{ txn.notes }}</td>
                        <td>{{ txn.txn_date }}</td>
                        <td>
                            <a href="{% url 'TransactionDetails' txn.txnid %}" class="btn btn-sm btn-info">View</a>
                        </td>                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>        


        <h2 class="mb-3">Refund Details</h2>
        <table border="1" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Mode</th>
                    <th>Amount</th>
                    <th>Refund Date</th>
                    <th>Refunded</th>
                    <th>Transaction</th>
                </tr>
            </thead>
            <tbody>
                {% for refund in refunds %}
                    <tr>
                        <td>{{ refund.title }}</td>
                        <td>{{ refund.mode }}</td>
                        <td>{{ refund.amount }}</td>
                        <td>{{ refund.refund_date }}</td>
                        <td>{{ refund.refunded }}</td>
                        <td>{{ refund.transaction.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="mb-3">Pay Later Details</h2>
        <table border="1" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Paid</th>
                    <th>Transaction</th>
                </tr>
            </thead>
            <tbody>
                {% for paylater in paylaters %}
                    <tr>
                        <td>{{ paylater.title }}</td>
                        <td>{{ paylater.amount }}</td>
                        <td>{{ paylater.due_date }}</td>
                        <td>{{ paylater.paid }}</td>
                        <td>{{ paylater.transaction.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    console.log('Dashboard scripts added')
</script>
{% endblock %}