{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<style>
    .button-container {
        display: flex;
        gap: 10px;
    }
    .button-container button {
        white-space: nowrap;
    }
    /* Ensure responsiveness */
    @media (max-width: 600px) {
        .button-container {
        flex-direction: row;
        justify-content: left;
        }
    }

</style>
{% endblock %}

{% block content %}
<div class="container mb-3">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 img-div">
            <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg?t=st=1745755383~exp=1745758983~hmac=a69f868476f1333a97edb37fc28aef385504901d0429c79fb7e898cf07082e27&w=1380"
            class="img" alt="userLogin">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div>
                <p class="titleHeading1">Know Where Your Money Goes, Take Charge Today!</p>
                <p class="subHeading1">Welcome back! Please login to your account.</p>
                <form action="{% url 'userLogin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe">
                                Remember Me
                            </label>
                        </div>
                        <a href="#" class="text-decoration-none">Forgot Password?</a>
                    </div>
                    <!-- Buttons Row -->
                    <div class="mt-3 d-flex justify-content-center gap-2">
                        <button type="submit" class="btn button primary-btn">Login</button>
                        <a href="register.html" class="btn button primary-outline-btn">Register</a>
                    </div>
                </form>
            </div>
        </div>            
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script>
    console.log('user login scripts added')
</script>
{% endblock %}