{% extends 'base.html' %}

{% block title %}Transaction Dashboard{% endblock %}

{% block extra_css %}
<style>
    .summary-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .summary-table th, 
    .summary-table td {
        padding: 12px 20px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .summary-table th {
        background-color: #ffffff;
    }

    th{
        font-size: 16px !important;
        font-weight: 500;
    }
    td {
        font-size: 14px;
        font-weight: 400;
    }
    .dashboardSec1 {
        text-align: center;
        padding-top: 40px;
        height: 250px;
    }
    .dashboardSec2 {
        padding: 8px 16px;
        margin-top: -100px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: white;
        border-radius: 12px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row dashboardSec1">
        <div class="col-12">
            <h3>Welcome to Transactions Dashboard</h3>
            <p>Track Your Refunds and Stay Informed</p>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4 dashboardSec2">   
    <div class="row mt-4 mb-4">
        
        <div class="col-6 mb-2">
            <h3>Transaction Dashboard</h3>
        </div> 
        <div class="col-6 mx-auto" style=" text-align: end; ">
            <a href="{% url 'addTransaction' %}" class="btn primary-btn ms-auto">+ Add New Transaction</a>
        </div>
        <div class="col-12">
            <table class="summary-table">
                <thead>
                    <tr>
                        <th>Total Income</th>
                        <th>Total Expense</th>
                        <th>Total Refund</th>
                        <th>Pending Refund</th>
                        <th>Total Paylater</th>
                        <th>Avaliable Balance</th>
                        <th>Final Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="text-success fw-bold">{{ incomeAmt }}</span></td>
                        <td><span class="text-danger fw-bold">{{ expenseAmt }}</span></td>
                        <td><a href="{% url 'refundsDashboard' %}?filter=refunded"><span class="text-info fw-bold">{{ refundAmt }}</span></a></td>
                        <td>
                            <a href="{% url 'refundsDashboard' %}?filter=pendingrefunds"><span class="text-info fw-bold">{{ pendingRefundAmt }}</span></a>
                        </td>
                        <td><span class="text-warning fw-bold">{{ paylaterAmt }}</span></td>
                        <td class="text-bg-success"><span class="fw-bold">{{ balanceAmt }}</span></td>
                        <td class="text-bg-success"><span class="fw-bold">{{ finalBalanceAmt }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 mt-3">
            <h3 class="mb-3">All Transactions</h3>
        <table border="1" class="table table-striped mb-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Payment Method</th>
                    <th>Expense Type</th>
                    <th>Notes</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for txn in transactions %}
                    <tr class="">
                        <td>{{ txn.name }}</td>
                        <td class="{% if txn.type == 'income' %}text-success{% elif txn.type == 'expense' %}text-danger{% else %}text-warning{% endif %}">
                            {% if txn.type == 'income' %}+ {{ txn.amount }}{% elif txn.type == 'expense' %}- {{ txn.amount }}{% else %}+ {{ txn.amount }}{% endif %}
                        </td>
                        <td>{{ txn.type|title }}</td>
                        <td>
                            {% if txn.category %}
                                {{ txn.category.category_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if txn.subcategory %}
                                {{ txn.subcategory.subcategory_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if txn.payment_method %}
                                {{ txn.payment_method.payment_method_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {{ txn.expense_type|title }}
                            {% if txn.expense_type == 'refund' %}
                                [Refund]
                            {% elif txn.expense_type == 'paylater' %}
                                [Pay Later]
                            {% endif %}
                        </td>
                        <td>{{ txn.notes }}</td>
                        <td>{{ txn.txn_date }}</td>
                        <td>
                            <a href="{% url 'TransactionDetails' txn.txnid %}" class="btn btn-sm primary-outline-btn"><i class="bi bi-eye-fill"></i></a>
                        </td>                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>        

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    console.log('Dashboard scripts added')
</script>
{% endblock %}